.guia-norris {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.guia-norris-header, .guia-norris-footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}

.guia-norris-title {
  font-size: 1.5em;
}

.guia-norris-content {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.guia-norris-content-left{
  width: 20%;
}

.guia-norris-content-right{
  width: 80%;
}

.guia-norris-content-left, .guia-norris-content-right {
  padding: 10px;
}

.norris-category{
  cursor: pointer;
}

.norris-category:hover{
  background-color: red;
}

.chuck-norris-joke{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.chuck-norris-joke-value{
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}